.debug{
    border: 2px dashed red;
    min-height: 3rem;
}
.box{
    color: white;
}
img{
    width: 100%;
}
nav{
    background-color: #293847;
    padding: 10px;
}
.jumbo{
    background: #1ABC9C;
}