.debug{
    border: 2px dashed red;
    min-height: 2rem;
}
.control{
    border: 2px dashed greenyellow;
}
.box{
    color: white;
}
hr{
    height: 4px;
    border: none;
}
.fs-4-mine{
    font-size: 4rem;
}
.fs-3-mine{
    font-size: 3rem;
}
img{
    width: 100%;
}
nav{
    background-color: #293847;
}



/* COLORS */
.bg-cyan{
    background: #1ABC9C;
}
.bg-blue{
    background-color: #2C3E50;
} 
.blue{
    color: #2C3E50;
}
.bg-white{
    background: #FFFFFF;
}
.white{
    color: #FFFFFF;
}
.bg-f-blue{
    background: #3A546D;
}
.bg-ff-blue{
    background: #27333F;
}
.green{
    color: #157347;
}
.aqua{
    color: #249C8C;
}